<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/cardPage.css" />
    <title>Eventos</title>
  </head>
  <body>
    {{> header title = "selecione o evento"}}
    <main class="content">
    {{#if admin}}
      {{#if event}}
        {{#each data}}
          <div class="event" onclick="location.href='/events/{{_id}}'">
            <h3>nome: {{EventName}}</h3>
            <h5>Local: {{EventAddress}}</h5>
            <p>Data: {{EventDate}}</p>
          </div>
        {{/each}}
      {{/if}}
      {{#if type}}
        {{#each data}}
          <div
            class="type"
          >
            <p class="typename">{{typeName}}</p>
            <p class="available">disponível: {{vacancies}}</p>
            <p class="price">valor: {{price}}</p>
            <div>
              {{> addTicket type=_id max=vacancies}}
            </div>
            <div class="adminArea">
              <div>
                <button class="editar" onclick="location.href='/types/edit/{{_id}}'">editar</button>
              </div>
              <div>
                <form  action="/types/delete/{{_id}}" method="post">
                <input class="remover" type="submit" value="remover">
              </form>
              </div>
            </div>
          </div>
        {{/each}}
      {{/if}}
    {{/if}}
    {{#if user}}
      {{#if event}}
        {{#each data}}
          <div class="event" onclick="location.href='/events/{{_id}}'">
            <h3>nome: {{EventName}}</h3>
            <h5>Local: {{EventAddress}}</h5>
            <p>Data: {{EventDate}}</p>
          </div>
        {{/each}}
      {{/if}}
      {{#if type}}
        {{#each data}}
          <div
            class="type"
          >
            <p class="typename">{{typeName}}</p>
            <p class="available">disponível: {{vacancies}}</p>
            <p class="price">valor: {{price}}</p>
            <div>
              {{> addTicket type=_id max=vacancies}}
            </div>
          </div>
        {{/each}}
      {{/if}}
    {{/if}}
    </main>
  </body>
</html>