<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes do evento</title>
  </head>
  <body>
    <section class="topBar">
      <a href="/">Home</a>
      <h1>{{data.EventName}}</h1>
      <form action="/auth/logout" method="post">
        <input type="submit" value="SAIR" />
      </form>
      {{#if admin}}
        <button
          onclick="window.location.href='/types/add/{{data._id}}'"
        >adicionar tipo de ingresso</button>
      {{/if}}
    </section>
    <main>
      <p><h3>Sobre: </h3>{{data.EventDescription}}</p>
      <p><h3>Local: </h3>{{data.EventAddress}}</p>
      <p><h3>Data: </h3> {{data.EventDate}}</p>
      {{! alterar o botão para a página de compra de ingresso }}
      {{!-- <button
        onclick="window.location.href='/types/{{data._id}}'"
      >comprar</button> --}}
      <a href="/types/{{data._id}}">ver ingressos</a>
    </main>
  </body>
</html>