<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/eventPage.css" />
    <title>Eventos</title>
  </head>
  <body>
    <main>
      <section class="topBar">
        <a href="/">Home</a>
        <h1>Escolha o Evento</h1>
        <form action="/auth/logout" method="post">
          <input type="submit" value="SAIR" />
        </form>
      </section>

      {{#each data}}
        {{!-- <a href="/events/{{_id}}"> --}}
        <div class="event" onclick="location.href='/events/{{_id}}'">
          <h3>nome: {{EventName}}</h3>
          {{!-- <p>Descrição: {{EventDescription}}</p> --}}
          <h5>Local: {{EventAddress}}</h5>
          <p>Data: {{EventDate}}</p>
        </div>
        {{! </a> }}
      {{/each}}
    </main>
  </body>
</html>