<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/myTickets.css" />
    <title>Meus Bilhetes</title>
  </head>
  <body>
    {{> header title = "Meus ingressos"}}
    <main>
      <ul>
        {{#each data}}
          
          <li onclick="window.location.href='/tickets/{{_id}}'">
            <div class="card">
              <div class="field">
                <p>Ingresso:</p>
                <span class="cell">{{_id}}</span>
              </div>
              <div class="field">
                <p>Evento:</p>
                <span class="cell">{{EventName}}</span>
              </div>
              <div class="field">
                <p>valor:</p>
                <span class="cell">{{price}}</span>
              </div>
              <div class="field">
                <p>Data:</p>
                <span class="cell">{{EventDate}}</span>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    </main>
  </body>
</html>